@charset "UTF-8";
/* CSS Document */

nav {
  display: inline-block;
  position: fixed; 
  font-size: 10px;
  text-align: left;
  width: 100%; 
  height: 0px;
	font-family: Montserrat', sans-serif;
  color: black;
  background-color: transparent;
  top:0px;
  padding: 10px;
  line-height: 50px;
}

/* ---- NAV NEW ---- */

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navBar {
    display: inline-block;
    text-align: left;
    padding: 14px 16px;
    font-size: 14px;
}

.navName {
    position: relative;
    display: inline-block;
    padding: 0px 0px;
    font-size: 14px;
    top: 0px;
}

/* --- NAV OG ----- */ 

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
	background-image:url(https://cdn.glitch.com/c9bbf94b-7c14-4b19-9f7d-4fd20142b8a2%2Fpattern1-01.png?v=1611342177384);
	background-position:center center;
	background-attachment:fixed;
	background-size:cover;
	background-repeat:no-repeat;
	margin:0 auto;
	font-family: Montserrat', sans-serif;
	font-size:1em;
}

a {text-decoration:none;}

h1 {
	font-size:1.6em;
	font-family: 'Montserrat', sans-serif;
	letter-spacing:1px;
}

h1 a {
	color:#000;	
}

h2, h3 {
	color:#63C6BF;
	font-family: 'Montserrat', sans-serif;
	padding-bottom:30px;
	font-size:3em;
	text-align:center;
	letter-spacing:1px;
	/*margin-left:110px;*/
}

h3 {
  /*	color:#63C6BF;*/
	font-size:2.5em;
}

h4 {
	font-family: 'Montserrat', sans-serif;
	font-weight:600;
	font-size:2em;
	color:#595757;
}


/***************************GENERAL*/
.fl {float:left;}
.fr {float:right;}
.clear {clear:both;}

.container {
	width:80%;
	margin:0 auto;
	max-width:1000px;
}

.thumbnail img {
	width:100%;
}

.betweenSectionSpace {height:40px;}

.bgWhite {
	background-color:rgba(255,255,255,0.7);
	width:100%;
}

.bgNone {
	background:none;
	height:100px;
}

.bgGreen {background-color:#E6E7E8;}

.centred {
	text-align:center;
	margin:0 auto;
}


/*************************HEADER AND NAV*/

#mainHeader {
	position:fixed;
	width:100%;
/*	line-height:80px;
	z-index:10;
  height:80px;*/
}

#logomark a {
	position:fixed;
	width:auto;
	height:80px;
	line-height:80px;
	text-align:center;
	left:20px;
	top:10px;
	z-index:10000;
	color:#000;
	font-size:1.4em;
	margin-left:40px;
}

#navButtons {
	text-align:right;
	height:80px;
	line-height:80px;
	position:fixed; /*so it sticks to top of browser*/
	left:0;
	top:0; 
	width:100%;
}

#navButtons ul li {
		font-family: 'Montserrat', sans-serif;
	display:inline;
	font-size:1.3em;
	font-weight:600;
	margin-right:40px;
}
	
#navButtons ul li a {
	text-decoration:none;
	color:#000;
	padding:0px 4px;
	margin:0px 15px;
	display:inline-block;
}

#navButtons ul li a:hover {
	color:#63C6BF;
	text-decoration:overline;
}

/*************************HOME*/

#home {
	background-image:url (https://cdn.glitch.com/c9bbf94b-7c14-4b19-9f7d-4fd20142b8a2%2F624980.png?v=1611337389648);
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:fixed;
	height:100vh;
	background-size:cover;
	margin:0 auto;
}

#home img {
	width:1000%;
	height:auto;
	margin:0 auto;
	margin-top:100px;
}

#home {
	position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-50%, -50%);
	text-align:center;
	font-family: 'Montserrat', sans-serif;
}

/*************************WORK*/

.flex-box {
  margin: auto;
  display: flex;
  flex-shrink: 5;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 /* padding: 35px
  border-width: 20px; */
  border-style: solid;
  border-color: transparent;
}

.images {
  justify-content: center;
  flex: 25%;
  margin: 3.25em;
  max-width: 100%;
  /*padding: 10px; */
  object-fit: cover;
}

.images img {
  justify-content: center;
  vertical-align: middle;
}

.images img:hover {
	opacity:0.5;
	filter:alpha(opacity=50);	
}

/*************************WORK NOT FLEX*/

/*#work {
	line-height:1.3em;
	padding-top:7.25em;
	padding-bottom:6.25em;
}

#work img {
	display:inline-block;
	margin:0 auto;
	padding-bottom:10px;
}



/*************************ABOUT*/
#about {
	padding-top:7.25em;
	padding-bottom:6.25em;
}

#whiteDiv {
	background-color:#FFF;
}

#about h2 {
	padding-top:30px;	
}

#about p {
	font-family: 'Montserrat', sans-serif;
	font-size:1.1em;
	line-height:1.2em;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:50px;
}

#about .col13, .col23 {
	background-color:#FFF;
}

#about img:hover {
	opacity:0.5;
	filter:alpha(opacity=50);	
}


/*************************CONTACT*/
#contact {
	padding-top:7.125em;
	padding-bottom:6.25em;
  font-family: 'Montserrat', sans-serif;

}

form {
	width:50%;
	margin: 0 auto;
	margin-top:30px;
}
	
	input {
		width: 100%;
		height:30px;
		margin-bottom:20px;
		font-family: 'Montserrat', sans-serif;
		font-size:0.9em;
		-webkit-border-radius: 4px;
  		-moz-border-radius: 4px;
  		border-radius: 4px;
		}
		
		textarea {
			width: 100%;
			height:200px;
	  	font-family: 'Montserrat', sans-serif;
			font-size:0.9em;
			margin-bottom:20px;
			-webkit-border-radius: 4px;
  			-moz-border-radius: 4px;
  			border-radius: 4px;
			}
			
			#submit {
				font-family:'Montserrat', sans-serif;
				font-size:1em;
				width: 50%;
				height:40px;
				background-color:#63C6BE;
				color:#FFF;
			}
			
			#submit:hover {
				background-color:#EFEC6D;
				color:#000;
			}

#linkedIn {
	float:right;
	cursor:pointer;
	height:32px;
	width:32px;
}

#contact p {
	text-align:center;
}



/*************************BUTTONS*/

#topButton, #workButton {
	height:40px;
	width:140px;
	line-height:40px;
	background-color:#333;
	text-align:center;
	-webkit-border-radius: 4px;
  	-moz-border-radius: 4px;
  	border-radius: 4px;
	margin-left:10px;
	margin-top:50px;
	float:right;
}

#topButton a, #workButton a {
	color:#FFF;
	padding:5px;
	background-color:#333;
}

#topButton a:hover, #workButton a:hover {
	color:#63C5BE;
}

#seeWebsiteButton {
	height:40px;
	width:50%;
	line-height:40px;
	background-color:#63C6BF;
	text-align:center;
	-webkit-border-radius: 4px;
  	-moz-border-radius: 4px;
  	border-radius: 4px;
	margin: 0 auto;
}

#seeWebsiteButton a {
	color:#000;
	text-transform:uppercase;
}

#seeWebsiteButton a:hover {
	color:#FFF;	
}


/*************************PROJECTS*/

.project {
	padding-top:7.125em;
	padding-bottom:6.25em;
}

.project h2 {
	padding-bottom:20px;
}
	
.objective {
	font-size:50%;
	margin:0 auto;	
}

.project img {
	margin-bottom:2.1em;	
}

.centred23Shadow {
	box-shadow: 1px 1px 4px #000;
	margin-bottom:none;
	width:62.66%;
	margin:0 auto;
}

.centred23 {
	width:62.66%;
	margin:0 auto;
}

.seeWebsiteButton {
	
}

/*************************FOOTER*/
#footer { 
	height:40px;
	line-height:40px;
	font-size:0.9em;
	color:#000;
	text-align:center;
}

/***************************COLUMNS*/
.col13 {width:29.33%;}
.col23 {width:62.66%;}
.col33 {margin:0 auto;}
.col12 {width:46%;}
.col14 {width:21%;}
.col15 {width:16%;}
.col16 {width:12.66%;}

.col13, .col23, .col33, .col12, .col14, .col15, .col16 {
	margin:1%;
	padding:1%;
}

/************************RESPONSIVE*/

/*#work img, #about img, .project img, {
	width:100%;
	height:auto;
}*/

img {
	width:100%;
	height:auto;	
}

/*************************SLICK NAV*/
.slicknav_menu {
	display:none;
}

@media screen and (max-width: 480px) {
	/* #menu is the original menu */
	#menu, #mainNav {
		display:none;
	}
	
	.slicknav_menu {
		display:block!important;
		width:100%;
		position:fixed;
		margin-top:27px;
	}
}

/*************************OVERRIDES*/

.slicknav_btn {
  margin: 0px 0px 0px;
 }
  
.slicknav_menu {
	background:none;
	background-color:rgba(255,255,255,0.6);
	font-color:#000;
	font-size:1em;
}

.slicknav_nav > li a {
	color:#000;
}

.slicknav_nav a:hover {
    background: #FFF;
}

.slicknav_btn {
  background-color:#291945; 
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

/********END DESKTOP*/

/***********************MEDIA QUERIES*/

@media screen and (max-width: 700px) {
	/* #menu is the original menu */
/*	#menu, #mainNav {
		display:none;
	}
	
	.slicknav_menu {
		display:block!important;
		width:100%;
		position:fixed;
	}*/

#logo {
	margin-left:5px;
	position:absolute;
}

#mainNav ul li {
	display:inline;
	padding:0px 0px;
	margin:0px 5px;
}
}

/*************************MOBILE*/

@media screen and (min-width:481px) {
	#socialMedia {
	top:0;
}
}
@media screen and (max-width:480px) {
	
#container {
	width:90%;
	max-width:480px;
	min-width:320px;
	margin:0 auto;
}
header {
	display:none;
}

.col13, .col23, .col33, .col12, .col14, .col15, .col16 {
	display:block;
	float:none;
	width:96%;
}

#logomark {
	font-size:1em;
	margin-left:10px;	
}

#home {
	background-size:cover;
	margin:0 auto;
	padding:60px 0px;
	height:450px;
}

#home img {
	width:100%;
	height:auto;
	margin:0 auto;
}

#tagline {
	font-size:1.5em;	
}

#work, #about, #contact, #project {
	padding-top:5em;
	padding-bottom:5em;
}

#work img {
	height:auto;
/*	width:48%;*/
	padding:1%;
	margin:0 auto;
}

#objective {
	width:100%;	
}

form {
	width:100%;