
/* DESKTOP FIRST--             */

/* xl */
@media screen and (max-width: 1200px) {
  .demo-module {
    max-width: 1000px;
}

/* l */
@media screen and (max-width: 992px) {
  body {
    width: 80%;
    background-image: url(https://cdn.glitch.com/a0622cc4-a1eb-4c5c-bc1c-996d284e7f2b%2Fbackground-temp?v=1609949436600);
  }

/* m */
@media screen and (max-width: 768px) {
  h1 {
	font-size: 80%;
  max-width: 100%
  text-align: center;
        border: 1px solid black;

  }

/* s */
@media screen and (max-width: 576px) {
  .demo-module {
    max-width: 400px;
  }
}

/* xs */
@media screen and (max-width: 480px) {
  .demo-module {
    max-width: 30px;
    bottom: 1em;
    align: right;
  }



