@charset "UTF-8";
/* CSS Document */

/********DESKTOP*/
/****************************GLOBAL*/

body {
	/*background-image:url(../images/greenSwirls-web.jpg);
	background-position:center center;
	background-attachment:fixed;
	background-size:cover;
	background-repeat:no-repeat;*/
	margin:0 auto;
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-weight: 400;
	font-size:1em;
}

a {text-decoration:none;}


h1 {
	font-size:1.6em;
	font-family: 'Conv_Porto 400', Helvetica, sans-serif;
	letter-spacing:1px;
}

h1 a {
	color:#000;	
}

h2, h3 {
	color:#63C6BF;
	font-family:'Conv_Porto 400', Helvetica, sans-serif;
	padding-bottom:30px;
	font-size:3em;
	text-align:center;
	letter-spacing:1px;
	/*margin-left:110px;*/
}

h3 {
	color:#BDDB95;
	font-size:2.5em;
}

h4 {
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-weight:600;
	font-size:1em;
	color:#595757;
}


/***************************REUSABLE*/
.fl {float:left;}
.fr {float:right;}
.clear {clear:both;}

.container {
	width:80%;
	margin:0 auto;
	max-width:1000px;
}

.thumbnail img {
	width:100%;
}

.betweenSectionSpace {height:40px;}

.bgWhite {
	background-color:rgba(255,255,255,0.7);
	width:100%;
}

.bgNone {
	background:none;
	height:100px;
}

.bgGreen {background-color:#E6E7E8;}

.centred {
	text-align:center;
	margin:0 auto;
}


/*************************HEADER AND NAV*/

#mainHeader {
	position:fixed;
	height:80px;
	width:100%;
	line-height:80px;
	background-color:#FFF;
	z-index:10;
}

#wordmark a {
	position:fixed;
	width:auto;
	height:80px;
	line-height:80px;
	text-align:center;
	left:20px;
	top:10px;
	z-index:10000;
	color:#000;
	font-size:1.4em;
	margin-left:40px;
}

#mainNav {
	text-align:right;
	height:80px;
	line-height:80px;
	position:fixed; /*so it sticks to top of browser*/
	left:0;/*just in case - for IE*/
	top:0; 
	width:100%;
}

#mainNav ul li {
	display:inline;
	font-size:1.3em;
	font-weight:600;
	margin-right:40px;
}
	
#mainNav ul li a {
	text-decoration:none;
	color:#000;
	padding:0px 4px;
	margin:0px 15px;
	display:inline-block;
}

#mainNav ul li a:hover {
	color:#63C6BF;
	text-decoration:overline;
}

/*************************HOME*/

#home {
	background-image:url(../images/gradient-shapes-bg-2048px.jpg);
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:fixed;
	height:100vh;
	background-size:cover;
	margin:0 auto;
}

#home img {
	width:100%;
	height:auto;
	margin:0 auto;
	margin-top:100px;
}

#homeLogo {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	text-align:center;
	font-family: 'Conv_Porto 400', Helvetica, sans-serif;
}

#tagline {
	margin-top:20px;
	color:#E9EED7;
	text-shadow:5px 5px 12px #000;
	font-size:1.8em;
}


/*************************WORK*/

#work {
	line-height:1.3em;
	padding-top:7.25em;
	padding-bottom:6.25em;
}

#work img {
	display:inline-block;
	margin:0 auto;
	padding-bottom:10px;
}

#work img:hover {
	opacity:0.5;
	filter:alpha(opacity=50);	
}


/*************************ABOUT*/
#about {
	padding-top:7.25em;
	padding-bottom:6.25em;
}

#whiteDiv {
	background-color:#FFF;
}

#about h2 {
	padding-top:30px;	
}

#about p {
	font-size:1.1em;
	line-height:1.2em;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:50px;
}

#about .col13, .col23 {
	background-color:#FFF;
}

#about img:hover {
	opacity:0.5;
	filter:alpha(opacity=50);	
}


/*************************CONTACT*/
#contact {
	padding-top:7.125em;
	padding-bottom:6.25em;
}

form {
	width:50%;
	margin: 0 auto;
	margin-top:30px;
}
	
	input {
		width: 100%;
		height:30px;
		margin-bottom:20px;
		font-family: 'Open Sans', Helvetica, sans-serif;
		font-size:0.9em;
		-webkit-border-radius: 4px;
  		-moz-border-radius: 4px;
  		border-radius: 4px;
		}
		
		textarea {
			width: 100%;
			height:200px;
			font-family: 'Open Sans', Helvetica, sans-serif;
			font-size:0.9em;
			margin-bottom:20px;
			-webkit-border-radius: 4px;
  			-moz-border-radius: 4px;
  			border-radius: 4px;
			}
			
			#submit {
				font-family: 'Open Sans', Helvetica, sans-serif;
				font-size:1em;
				width: 50%;
				height:40px;
				background-color:#63C6BE;
				color:#FFF;
			}
			
			#submit:hover {
				background-color:#EFEC6D;
				color:#000;
			}

#linkedIn {
	float:right;
	cursor:pointer;
	height:32px;
	width:32px;
}

#contact p {
	text-align:center;
}



/*************************BUTTONS*/

#topButton, #workButton {
	height:40px;
	width:140px;
	line-height:40px;
	background-color:#333;
	text-align:center;
	-webkit-border-radius: 4px;
  	-moz-border-radius: 4px;
  	border-radius: 4px;
	margin-left:10px;
	margin-top:50px;
	float:right;
}

#topButton a, #workButton a {
	color:#FFF;
	padding:5px;
	background-color:#333;
}

#topButton a:hover, #workButton a:hover {
	color:#63C5BE;
}

#seeWebsiteButton {
	height:40px;
	width:50%;
	line-height:40px;
/*	background-color:#BDDB95;*/
	background-color:#63C6BF;
	text-align:center;
	-webkit-border-radius: 4px;
  	-moz-border-radius: 4px;
  	border-radius: 4px;
	margin: 0 auto;
}

#seeWebsiteButton a {
	color:#000;
	text-transform:uppercase;
}

#seeWebsiteButton a:hover {
	color:#FFF;	
}


/*************************PROJECTS*/

.project {
	padding-top:7.125em;
	padding-bottom:6.25em;
}

.project h2 {
	padding-bottom:20px;
}
	
.objective {
	width:50%;
	margin:0 auto;	
}

.project img {
	margin-bottom:2.1em;	
}

.centred23Shadow {
	box-shadow: 1px 1px 4px #000;
	margin-bottom:none;
	width:62.66%;
	margin:0 auto;
}

.centred23 {
	width:62.66%;
	margin:0 auto;
}

.seeWebsiteButton {
	
}

/*************************FOOTER*/
#footer { 
	height:40px;
	line-height:40px;
	font-size:0.9em;
	color:#000;
	text-align:center;
}

/***************************COLUMNS*/
.col13 {width:29.33%;}
.col23 {width:62.66%;}
.col33 {margin:0 auto;}
.col12 {width:46%;}
.col14 {width:21%;}
.col15 {width:16%;}
.col16 {width:12.66%;}

.col13, .col23, .col33, .col12, .col14, .col15, .col16 {
	margin:1%;
	padding:1%;
}

/************************RESPONSIVE*/

/*#work img, #about img, .project img, {
	width:100%;
	height:auto;
}*/

img {
	width:100%;
	height:auto;	
}

/*************************SLICK NAV*/
.slicknav_menu {
	display:none;
}

@media screen and (max-width: 480px) {
	/* #menu is the original menu */
	#menu, #mainNav {
		display:none;
	}
	
	.slicknav_menu {
		display:block!important;
		width:100%;
		position:fixed;
		margin-top:27px;
	}
}

/*************************OVERRIDES*/

.slicknav_btn {
  margin: 0px 0px 0px;
 }
  
.slicknav_menu {
	background:none;
	background-color:rgba(255,255,255,0.6);
	font-color:#000;
	font-size:1em;
}

.slicknav_nav > li a {
	color:#000;
}

.slicknav_nav a:hover {
    background: #FFF;
}

.slicknav_btn {
  background-color:#291945; 
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

/********END DESKTOP*/

/***********************MEDIA QUERIES*/

@media screen and (max-width: 700px) {
	/* #menu is the original menu */
/*	#menu, #mainNav {
		display:none;
	}
	
	.slicknav_menu {
		display:block!important;
		width:100%;
		position:fixed;
	}*/

#logo {
	margin-left:5px;
	position:absolute;
}

#mainNav ul li {
	display:inline;
	padding:0px 0px;
	margin:0px 5px;
}
}

/*************************MOBILE*/

@media screen and (min-width:481px) {
	#socialMedia {
	top:0;
}
}
@media screen and (max-width:480px) {
	
#container {
	width:90%;
	max-width:480px;
	min-width:320px;
	margin:0 auto;
}
header {
	display:none;
}

.col13, .col23, .col33, .col12, .col14, .col15, .col16 {
	display:block;
	float:none;
	width:96%;
}

#wordmark {
	font-size:1em;
	margin-left:10px;	
}

#home {
	background-size:cover;
	margin:0 auto;
	padding:60px 0px;
	height:450px;
}

#home img {
	width:100%;
	height:auto;
	margin:0 auto;
}

#tagline {
	font-size:1.5em;	
}

#work, #about, #contact, #project {
	padding-top:5em;
	padding-bottom:5em;
}

#work img {
	height:auto;
/*	width:48%;*/
	padding:1%;
	margin:0 auto;
}

#objective {
	width:100%;	
}

form {
	width:100%;
}

/********END MOBILE*/
}
/** Generated by FG **/
@font-face {
	font-family: 'Conv_Porto 400';
	src: url('../fonts/Porto 400.eot');
	src: local('â˜º'), url('../fonts/Porto 400.woff') format('woff'), url('../fonts/Porto 400.ttf') format('truetype'), url('../fonts/Porto 400.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*
flexbox {
	line-height:1.3em;
	padding-top:7.25em;
	padding-bottom:6.25em;
}

.flexbox {
	display:inline-block;
	margin:0 auto;
	padding-bottom:10px;
}

.flexbox:hover {
	opacity:0.5;
	filter:alpha(opacity=50);	
}

.flex-box {
  margin: auto;
  display: flex;
  flex-shrink: 5;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: transparent;
  background-color: white;
}

.images {
  justify-content: center;
  flex: 50%;
  margin: 3.25em;
  max-width: 25%;
  object-fit: cover;
}

.images img {
  justify-content: center;
  vertical-align: middle;
}

.images {
  border: transparent;
  display: inline-block;
  padding: 15px;
  transform: rotate(0.25turn);
  transform: rotate(0.5turn);  
  transition: all 1s;
}

.images:hover {
  transform: scale(1.5) /*rotate(15deg);*/
}

.scroll-effect {
  position: relative;
  height: 90px;
}

.scroll-effect p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.hero2 {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 90px;
  transition: transform 2s linear;
}

.hero2:hover {
  transform: translateX(100%);
}